:root {
  --sl-hue-accent: 348;
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 85%, 25%);
  --sl-color-accent: hsl(var(--sl-hue-accent), 89%, 45%);
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 89%, 85%);
}

[data-theme='light'] {
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 85%, 85%);
  --sl-color-accent: hsl(var(--sl-hue-accent), 89%, 45%);
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 85%, 25%);
}
